*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	overflow: hidden;
}

.btn 
{
	text-align: center;
	border: .2rem solid white;
	margin-top: 1rem;
	display: inline;
	padding: .5rem .5rem;
	font-size: 1rem;
	border-radius: .5rem;
	color: #888;
	cursor: pointer;
	background: none;
	text-align: center;
}

.btn:hover
{
	background: rgb(211, 23, 23);
	color:  #6e14eb;
}
.full-page
{
    /* height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img.png);
	background-position: 50% 50%;
	background-size: auto;
	position: absolute; */
	position: relative;
    height: 1024px;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: 100% 10%;
}
.navbar
{
    display: flex;
    align-items: left;
    padding: 60px;
    padding-left: 120px;
    padding-right: 80px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: center;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: White;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: #eee;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: #fcffff;
}
nav ul li a:hover
{
    color: whitesmoke;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

/* search */

.nav .search
{
	display: flex;
}
.logo{
    background-image: url("logo.jpg");
    background-size:cover;
    height: 100px;
    width:100px;
    border-radius: 50%; 
    height: 150px;
    width:150px;
    margin-left: 5px;
    margin-top: 2.5px;
}
/* search */
#login-form
{
    display: none;
}
.form-box, .adminlogin
{
    width:380px;
	height:500px;
	position: absolute;
	top: 17%;
	left: 40%;
	/* transform: translate(0% -50%); */
	margin:2% auto;
	background:white;
	padding:10px;
    overflow: hidden;
	border-radius: .5rem;
	box-shadow: black;
}


.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #24ffbd1f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #56beaa;
	border-radius: 30px;
	transition: .5s;
    
}
.input-group-login, .input-group-loginadmin
{
	top: 150px;
	position:absolute;
	width:280px;
    
	transition:.5s;
}
.input-group-register, .input-group-loginadmin
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field, .loginadmin
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #56beaa;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #56beaa;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#56beaa;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login, #loginadmin
{
	left:50px;
}
#login input
{
	color: black;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color: black;
	font-size: 15;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: transparent;
    margin: 20% auto;
    padding: 25px;
    border: 1px solid black;
    width: 20%;
}
.popup-content .popup-img
{
    text-align: center;
    position: relative;
}
.popup-content .cross
{
    text-align: center;
}

.popup-content .title
{
    text-align: center;
}

.popup .close-btn
{
	position: relative;
    cursor: pointer;
	text-align: center;
}

#text{
	color: black;
	text-align: center;
	font-family: sans-serif;
	margin-top: 40px;
	font-size: 35px;
}


@media screen and (max-width: 768px) {
    .navbar {
		position: absolute;
        right: 0;
        top: 100%;
        height: 100vh;
        width: 30%;
        padding: 1em 1em;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
		position: absolute;
		align-items: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
}




/* Tablet and Mobile styles */
/* @media screen and (max-width: 600px) {
    .full-page {
        padding: 20px;
    }

    .form-box {
        width: 90%;
    }
} */



/* 
@media (max-width: 500px){
	.navbar {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--color3);
    height: 100vh;
    width: 30%;
    padding: 1em 1em;
    display: none;
	}
	.nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	  }
	.adminlogin {
		display: flex;
		align-items: center;
	}


} */
